# Secrets
backend/.env
frontend/.env
whatsapp-service/.env
.env

# Session WhatsApp
.wwebjs_auth/
.wwebjs_cache/
whatsapp-service/.wwebjs_auth/
whatsapp-service/.wwebjs_cache/

# Dependencies
node_modules/
frontend/node_modules/
whatsapp-service/node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Build
frontend/build/
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db